.NavigationButtons {
  color: #fff !important;
  font-weight: 700;
  border-radius: 8px;
  background-color: #13316c;
  border: 1.5px solid #0f2757;
  padding: 8px 10px !important;
}

.viewAllBtn {
  font-size: 0.7rem;
}
.arrowButton {
  padding: 5px !important;
  font-size: 2rem;
  cursor: pointer;
}

.NavigationButtons:hover {
  background-color: #0f243a !important;
}
